<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionsLoaderUtil" class="ru.otus.spring.util.QuestionFromResourcesLoaderUtil">
        <constructor-arg index="0" value="questions.json"/>
    </bean>

    <bean id="questionsExtractService" class="ru.otus.spring.service.impl.QuestionLoaderServiceImpl">
        <constructor-arg index="0" ref="questionsLoaderUtil"/>
    </bean>

    <bean id="questionsLogService" class="ru.otus.spring.service.impl.QuestionConsoleLogServiceImpl">
        <constructor-arg index="0" ref="questionsExtractService"/>
    </bean>
</beans>